<app-navbar (searchEvent)="onSearch($event)"></app-navbar>
<app-loader [isLoading]="loading"></app-loader>

<div *ngIf="!loading" class="wishlist-container">
  <h2 class="text-center text-3xl font-bold mt-6">Your Wishlist</h2>

  <div *ngIf="wishlist.length === 0" class="text-center text-lg mt-6">
    Your wishlist is empty. Add some products to your wishlist!
  </div>

  <div *ngIf="wishlist.length > 0" class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-5 gap-4 mt-8">
    <div *ngFor="let product of wishlist" class="card max-w-xs bg-white rounded-lg shadow p-4 m-5">
      <div class="image-container">
        <img [routerLink]="['/display', product.id]"
          class="w-full h-50 object-cover rounded-md"
          [src]="product.thumbnail"
          alt="{{ product.title }}">
      </div>
      <div class="text-center mt-4">
        <p class="mb-2 text-md">{{ product.title }}</p>
        <p class="font-bold text-lg">R{{ product.price }}</p>
      </div>

      <div class="flex justify-between items-center mt-2">
        <button
          (click)="viewProductDetails(product)"
          class="text-blue-500 hover:text-blue-700 text-sm"
        >
          View Details
        </button>

        <button
          (click)="removeFromWishlist(product)"
          class="text-red-500 hover:text-red-700 text-sm"
        >
          Remove
        </button>
      </div>
    </div>
  </div>

</div>


