<nav class="bg-[#C1DCDC] sticky top-0 z-10 mb-1">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">

      <!-- Logo and Home Link Section -->
      <div class="flex items-center space-x-3">
        <a class="flex items-center space-x-3">
          
          <img src="" class="h-8" alt="" />
          <span class="text-2xl font-semibold">CART-EASY</span>
        </a>
      </div>

      <!-- Search Bar Section (Center aligned) -->
      <div class="flex flex-1 justify-center">
        <input
          type="text"
          placeholder="Search products..."
          class="search-input"
          (input)="onSearchQueryChanged($event)"
        />
      </div>

      <!-- Cart Section -->
      <div class="relative flex items-center">
        <a [routerLink]="['/cart']" class="cart-icon">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l3 12h10l3-12h2M6 9h12M9 6h6M5 16a2 2 0 1 0 4 0a2 2 0 1 0-4 0zm10 0a2 2 0 1 0 4 0a2 2 0 1 0-4 0z" />
          </svg>
          <span *ngIf="productService.getCartItemCount() > 0" class="badge">{{ productService.getCartItemCount() }}</span>
        </a>
      </div>
    </div>
  </div>
</nav>
