body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}


.search-container {
  background: #fff;
  height: 40px;
  border-radius: 30px;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  box-shadow: none;
  font-weight: 500;
  font-size: 16px;
  transition: width 0.8s ease;
  width: 100%;
  cursor: pointer;
}

.search-btn .fas {
  color: black;
}


.search-container:hover {
  animation: hoverShake 0.15s linear 3;
}

.cart {
  margin-left: 20px; 
}

nav .cart {
  position: relative;
}

nav .badge {
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: #ff3b30;
  color: white;
  font-size: 0.75rem;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 200px) {
  .search-container {
    width: 100%;
    max-width: 700px; 
  }

  .search-input {
    width: 100%; 
  }

  .search-container {
    max-width: 100%;
  }
}
