<nav class="bg-[#C1DCDC] sticky top-0 z-10 mb-1">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">

      <!-- Logo and Home Link Section -->
      <div class="flex items-center space-x-3">
        <a [routerLink]="'/home'" class="flex items-center space-x-3">
          <img src="" class="h-8" alt="" />
          <span class="text-2xl font-semibold">CART-EASY</span>
        </a>
        <a [routerLink]="'/home'" class="text-lg font-medium text-gray-700 hover:text-gray-900">
          Home
        </a>
      </div>

      <!-- Search Bar Section (Center aligned) -->
      <div class="flex flex-1 justify-center">
        <input
          type="text"
          placeholder="Search products..."
          class="search-input"
          (input)="onSearchQueryChanged($event)"
        />
      </div>

      <!-- Cart Section -->
      <div class="relative flex items-center space-x-4">
        <a [routerLink]="'/login'" class="text-lg font-medium text-gray-700 hover:text-gray-900">
          Login
        </a>
        <a [routerLink]="'/cart'" class="cart-icon">
          <!-- Trolley Icon -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path
              d="M2.25 3a.75.75 0 010-1.5h3.336a1.5 1.5 0 011.419.976l.716 2.015H21.75a.75.75 0 01.742.888l-1.5 9a.75.75 0 01-.742.612H9.087l-.763 2.29a.75.75 0 01-1.424-.476l.66-1.981-4.68-11.335A1.5 1.5 0 012.25 3zm4.503 3.491l3.693 8.936h11.076l1.215-7.288H7.686l-.933-2.648zm2.997 14.259a1.75 1.75 0 113.5 0 1.75 1.75 0 01-3.5 0zm7.5-1.75a1.75 1.75 0 100 3.5 1.75 1.75 0 000-3.5z" />
          </svg>
          <span *ngIf="productService.getCartItemCount() > 0" class="badge">{{ productService.getCartItemCount() }}</span>
        </a>
      </div>
    </div>
  </div>
</nav>
