.formDiv{
    border: solid red;
  
}
.mother{
    border: solid blue;
    /* width: 20rem; */
}
nav{
    border: solid green;
}
.mothers{
    border: solid purple;

}
.motherss{
    border: solid orange;

}