.product-details {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.product-details img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.wishlist-button {
  font-size: 1.5rem;
  cursor: pointer;
  color: #21b56b; 
  transition: color 0.3s ease;
}

.wishlist-button:hover {
  color: #f44336; 
}

.wishlist-message {
  font-size: 1rem;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  margin-top: 10px;
}

.wishlist-message p {
  margin: 0;
}
