<nav style="background-color: #1B2525; position: sticky; top: 0; z-index: 1000;">
 

  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">

    <a [routerLink]="[ '/home' ]" routerLinkActive="active" class="flex items-center space-x-2 rtl:space-x-reverse">
      <!-- <img src="/assets/prosthetic.png" alt="prosthetic" width="30" height="30"> -->
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Yonela kulati</span>
    </a>



  <div class="cart relative flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <a [routerLink]="[ '/order' ]" routerLinkActive="active" class="flex items-center space-x-2 rounded-md px-3 py-2 text-lg font-medium text-white hover:text-gray-400 transition">
        <i class="fas fa-box"></i>
        <span>Orders</span>
      </a>

      <a [routerLink]="[ '/wishlist' ]" routerLinkActive="active" class="flex items-center space-x-2 rounded-md px-3 py-2 text-lg font-medium text-white hover:text-gray-400 transition">
        <i class="fas fa-heart text-gray-5"></i>
        <span>Wishlist</span>
      </a>

      <a [routerLink]="[ '/about' ]" routerLinkActive="active" class="flex items-center space-x-2 rounded-md px-3 py-2 text-lg font-medium text-white hover:text-gray-400 transition">
        <i class="fas fa-"></i>
        <span>About-us</span>
      </a>

    


      <a *ngIf="!authService.isAuthenticatedUser()" [routerLink]="[ '/login' ]" routerLinkActive="active" class="flex items-center rounded-md px-3 py-2 text-lg font-medium text-white hover:text-gray-400 transition">
        <span>Login</span>
      </a>

      <a *ngIf="authService.isAuthenticatedUser()" (click)="logout()" class="flex items-center rounded-md px-3 py-2 text-lg font-medium text-white hover:text-gray-400 transition">
        <span>Logout</span>
      </a>




      <a [routerLink]="[ '/cart' ]" routerLinkActive="active" class="flex items-center space-x-2 rounded-md px-3 py-2 text-lg font-medium text-white hover:text-gray-400">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <span *ngIf="productService.getCartItemCount() > 0" class="badge">{{ productService.getCartItemCount() }}</span>
    </div>

    <div class="items-center justify-between hidden w-full md:flex md:max-w-md md:order-1" id="navbar-cta">
      <div class="search-container w-full max-w-xl flex items-center justify-center">
        <input
          type="text"
          name="search"
          placeholder="Search for items..."
          class="search-input"
          [(ngModel)]="searching"
          (input)="onSearch()"
        />
        <a [routerLink]="['/home']" class="search-btn ml-2">
          <i class="fas fa-search text-lg"></i>
        </a>
      </div>
    </div>
  </div>
</nav>

<head>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
