<app-navbar></app-navbar>

<section class="bg-gray-50 py-12">
  <div class="container mx-auto px-6">
    <div class="max-w-4xl mx-auto bg-white rounded-lg shadow-lg p-8 text-center">
      <h1 class="text-3xl font-semibold text-green-600 mb-8">Order Placed Successfully!</h1>
      <p class="text-xl text-gray-500 mb-6">Thank you for your purchase. We will process your order and notify you shortly.</p>
      <button routerLink="/home" class="bg-green-800 text-white px-5 py-2 rounded-md hover:bg-[#C1DCDC] transition text-sm">Return to Home</button>
    </div>
  </div>
</section>

