<div class="auth-container">

  <!-- RADIO BUTTONS -->
  <input type="radio" name="auth-toggle" id="signInToggle" checked>
  <input type="radio" name="auth-toggle" id="signUpToggle">

  <!-- FORMS -->
  <div class="forms-container">

    <div class="sign-in-form form">
      <form>
        <h1>Sign In</h1>
        <div class="social-container">
          <a href="https://www.facebook.com" class="social facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="https://accounts.google.com" class="social google"><i class="fab fa-google-plus-g"></i></a>
          <a href="https://www.apple.com" class="social apple"><i class="fab fa-apple"></i></a>
        </div>
          
        <span>or use your account</span>
        <input type="email" placeholder="Email" required />
        <input type="password" placeholder="Password" required />
        <a href="#">Forgot your password?</a>
        <button type="submit">Sign In</button>
      </form>
    </div>

    <div class="sign-up-form form">
      <form>
        <h1>Create Account</h1>
        <div class="social-container">
          <a href="https://www.facebook.com" class="social facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="https://accounts.google.com" class="social google"><i class="fab fa-google-plus-g"></i></a>
          <a href="https://www.apple.com" class="social apple"><i class="fab fa-apple"></i></a>
        </div>
        <span>or use your email for registration</span>
        <input type="text" placeholder="Fullnames" required />
        <input type="email" placeholder="Email" required />
        <input type="password" placeholder="Password" required />
        <button type="submit">Sign Up</button>
      </form>
    </div>

  </div>

  <!-- OVERLAY -->
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <label for="signInToggle" class="ghost">Sign In</label>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <label for="signUpToggle" class="ghost">Sign Up</label>
      </div>
    </div>
  </div>

</div>
