/* General Container */
.containall {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  
  /* Space between each order */
  .space-y-6 > * + * {
    margin-top: 24px;
  }
  
  /* Order Card */
  .order-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    background-color: #fff;
  }
  
  .order-details {
    padding: 20px;
  }
  
  /* Order Title */
  .order-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #2d3748;
    margin-bottom: 12px;
  }
  
  /* Order Items List */
  .order-items-list ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 15px;
  }
  
  .order-item {
    display: flex;
    justify-content: space-bet
  }