<app-navbar></app-navbar>

<section class="py-12">
  <div class="container mx-auto px-6">
    <div class="max-w-4xl mx-auto rounded-lg shadow-lg p-8">
      <h1 class="text-3xl font-semibold text-center text-gray-800 mb-8">Checkout</h1>

      <div class="mb-8">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">Order Summary</h2>
        <div class="space-y-4">
          <div *ngFor="let product of cartItems" class="flex justify-between items-center border-b py-4">
            <div class="flex items-center">
              <img [src]="product.thumbnail" alt="Product Image" class="w-16 h-16 object-cover rounded-md mr-4">
              <div>
                <h3 class="font-semibold text-gray-800">{{ product.title }}</h3>
                <p class="text-gray-600">Quantity: {{ product.quantity }}</p>
              </div>
            </div>
            <div>
              <span class="text-gray-800 font-semibold">R{{ product.price * product.quantity }}</span>
            </div>
          </div>
        </div>
      </div>

      <form (ngSubmit)="submitOrder()" #checkoutForm="ngForm">
        <div class="space-y-6">

          <div>
            <label class="block text-gray-700">Shipping Method</label>
            <div class="space-y-4">
              <div class="flex items-center">
                <input type="radio" id="delivery" name="shippingMethod" value="delivery" [(ngModel)]="shippingMethod" required class="mr-2" />
                <label for="delivery" class="text-gray-800">Delivery</label>
              </div>
              <div class="flex items-center">
                <input type="radio" id="collection" name="shippingMethod" value="collection" [(ngModel)]="shippingMethod" required class="mr-2" />
                <label for="collection" class="text-gray-800">Collection</label>
              </div>
            </div>
            <div *ngIf="checkoutForm.submitted && !shippingMethod" class="text-red-600 text-sm">Shipping method is required.</div>
          </div>

          <div *ngIf="shippingMethod === 'delivery'">
            <label for="address" class="block text-gray-700">Address</label>
            <input type="text" id="address" name="address" [(ngModel)]="shippingDetails.address" required class="w-full px-4 py-2 border border-gray-300 rounded-md" />
            <div *ngIf="checkoutForm.submitted && !shippingDetails.address" class="text-red-600 text-sm">Address is required.</div>
          </div>

          <div>
            <label class="block text-gray-700">Payment Method</label>
            <img src="/assets/Group-61.png" alt="">

            
            <div class="space-y-4">
              <div class="flex items-center">
                <input type="radio" id="creditCard" name="paymentMethod" value="creditCard" [(ngModel)]="paymentMethod" required class="mr-2" />
                <label for="creditCard" class="text-gray-800">Credit Card</label>
              </div>

              <div *ngIf="paymentMethod === 'creditCard'" class="mt-2 space-y-2">
                <img src="/assets/03 - Credit card - Account Card.png" alt="Credit Card" class="mt-4 rounded-md w-100">

                <label for="cardNumber" class="block text-gray-700">Card Number</label>
                <input type="text" id="cardNumber" [(ngModel)]="paymentDetails.cardNumber" name="cardNumber" required maxlength="16" placeholder="1234 5678 9012 3456" class="w-full px-4 py-2 border border-gray-300 rounded-md" />
                <div *ngIf="checkoutForm.submitted && !paymentDetails.cardNumber" class="text-red-600 text-sm">Card number is required.</div>

                <label for="expiryDate" class="block text-gray-700">Expiry Date</label>
                <input type="text" id="expiryDate" [(ngModel)]="paymentDetails.expiryDate" name="expiryDate" required placeholder="MM/YY" class="w-full px-4 py-2 border border-gray-300 rounded-md" />
                <div *ngIf="checkoutForm.submitted && !paymentDetails.expiryDate" class="text-red-600 text-sm">Expiry date is required.</div>

                <label for="cvv" class="block text-gray-700">CVV</label>
                <input type="text" id="cvv" [(ngModel)]="paymentDetails.cvv" name="cvv" required maxlength="3" placeholder="123" class="w-full px-4 py-2 border border-gray-300 rounded-md" />
                <div *ngIf="checkoutForm.submitted && !paymentDetails.cvv" class="text-red-600 text-sm">CVV is required.</div>

                <label for="cardHolderName" class="block text-gray-700">Cardholder Name</label>
                <input type="text" id="cardHolderName" [(ngModel)]="paymentDetails.cardHolderName" name="cardHolderName" required placeholder="Mbali" class="w-full px-4 py-2 border-gray-300 rounded-md" />
                <div *ngIf="checkoutForm.submitted && !paymentDetails.cardHolderName" class="text-red-600 text-sm">Cardholder name is required.</div>
              </div>

      
            
              <div class="flex items-center">
                <input type="radio" id="cashOnDelivery" name="paymentMethod" value="cashOnDelivery" [(ngModel)]="paymentMethod" required class="mr-2" />
                <label for="cashOnDelivery" class="text-gray-800">Cash </label>
              </div>
            </div>
            <div *ngIf="checkoutForm.submitted && !paymentMethod" class="text-red-600 text-sm">Payment method is required.</div>
          </div>
        </div>

        <div class="mt-6 flex justify-between items-center">
          <span class="text-xl font-semibold text-gray-900">Total: R{{ cartTotal }}</span>
          <button type="submit" class="bg-black text-white px-5 py-2 rounded-md hover:bg-gray-400 transition text-sm">
            Place Order
          </button>



        </div>
      </form>
    </div>
  </div>
</section>
