<app-navbar (searchEvent)="onSearch($event)"></app-navbar>
<app-loader [isLoading]="loading"></app-loader> 

<div *ngIf="!loading">
  <h2 class="text-center mt-2 text-3xl font-bold">Product List</h2>

  <div class="flex flex-wrap justify-center mt-4 mb-6 gap-4">
    <select
      class="px-4 py-2 border rounded-md"
      [(ngModel)]="selectedCategory"
      (change)="onCategoryChanged(selectedCategory)"
    >
      <option value="">All Categories</option>
      <option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </option>
    </select>

    <select
      class="px-4 py-2 border rounded-md"
      [(ngModel)]="sortOrder"
      (change)="onSortOrderChanged(sortOrder)"
    >
      <option value="">Sort by</option>
      <option value="priceAsc">Price: Low to High</option>
      <option value="priceDesc">Price: High to Low</option>
      <option value="titleAsc">Title: A to Z</option>
      <option value="titleDesc">Title: Z to A</option>
    </select>
  </div>

  <div *ngIf="wishlistMessage" class="wishlist-message">
    <p>{{ wishlistMessage }}</p>
  </div>

  <div *ngIf="notFound" class="text-center text-lg text-gray-500 mt-10">
    {{ notFound }}
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
    <div
      *ngFor="let product of paginatedProducts"
      class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow m-5"
    >
      <div class="image-container">

   
          <img [routerLink]="['/display', product.id]"
            class="w-full h-48 object-cover rounded-md"
            [src]="product.thumbnail"
            alt="{{ product.title }}"
          ></div>
       
    


        <p class="mb-2 text-md">{{ product.title }}</p>
        <p class="font-bold text-lg">R{{ product.price }}</p>

        <button
          class="wishlist-button"
          (click)="toggleWishlist(product)"
        >
          <i
            [class]="isInWishlist(product) ? 'fas fa-heart' : 'far fa-heart'"
            aria-hidden="true"
          ></i>
        </button>
   

      </div>
    </div>
  </div>

  <div class="pagination flex justify-center items-center mt-4">
    <button
      (click)="prevPage()"
      class="mx-2 px-4 py-2 bg-gray-200 rounded-md hover:bg-gray-300"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>
    <span class="text-lg font-medium">Page {{ currentPage }} of {{ totalPages }}</span>
    <button
      (click)="nextPage()"
      class="mx-2 px-4 py-2 bg-gray-200 rounded-md hover:bg-gray-300"
      [disabled]="currentPage === totalPages"
    >
      Next
    </button>


  </div>

